ETL (Extracción, Transformación y Carga) es un proceso en el que se extraen datos de una fuente, se transforman y se cargan en otra fuente. En este caso, se extraen datos de un archivo json, se transforman y se cargan en un archivo csv.

In [35]:
# Cargamos las librerias necesarias para el desarrollo del ETL.
import pandas as pd
import gzip
import ast
import Lib.utils as ut

import warnings
warnings.filterwarnings("ignore")

Creamos una función que se encargue de leer el archivo json y devolver un dataframe de pandas.

In [36]:
# Funcion para convertir un archivo .gz a un dataframe.
def gzip_to_df(file_path):                                          
    with gzip.open(file_path, 'rt', encoding='utf-8-sig') as file:  # Abrimos el archivo .gz
        return [ast.literal_eval(line) for line in file]            # Retornamos el archivo .gz como un dataframe.

In [37]:
# Cargamos los datos y los convertimos en un dataframe.
data = gzip_to_df('../Datasets/Raw/users_items.json.gz')     # Cargamos los datos.
df_users_items = pd.DataFrame(data)                                    # Convertimos los datos en un dataframe.
df_users_items.head()                                                  # Mostramos los primeros 5 registros del dataframe.

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [25]:
ut.data_summ(df_users_items)

Total rows:  88310

Total full null rows:  0

        Column         Data_type  No_miss_Qty  %Missing  Missing_Qty
0      user_id   [<class 'str'>]        88310       0.0            0
1  items_count   [<class 'int'>]        88310       0.0            0
2     steam_id   [<class 'str'>]        88310       0.0            0
3     user_url   [<class 'str'>]        88310       0.0            0
4        items  [<class 'list'>]        88310       0.0            0

In [38]:
df_users_items = pd.json_normalize(data, record_path=['items'], meta=['user_id','items_count','steam_id','user_url'] )
df_users_items

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [27]:
ut.data_summ(df_users_items)

Total rows:  5153209

Total full null rows:  0

             Column        Data_type  No_miss_Qty  %Missing  Missing_Qty
0           item_id  [<class 'str'>]      5153209       0.0            0
1         item_name  [<class 'str'>]      5153209       0.0            0
2  playtime_forever  [<class 'int'>]      5153209       0.0            0
3   playtime_2weeks  [<class 'int'>]      5153209       0.0            0
4           user_id  [<class 'str'>]      5153209       0.0            0
5       items_count  [<class 'int'>]      5153209       0.0            0
6          steam_id  [<class 'str'>]      5153209       0.0            0
7          user_url  [<class 'str'>]      5153209       0.0            0

In [39]:
# Obteniendo datos duplicados
duplicated = df_users_items.loc[df_users_items.duplicated()]
duplicated

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url
164294,20,Team Fortress Classic,5,0,Nikiad,109,76561198084006094,http://steamcommunity.com/id/Nikiad
164295,50,Half-Life: Opposing Force,0,0,Nikiad,109,76561198084006094,http://steamcommunity.com/id/Nikiad
164296,70,Half-Life,0,0,Nikiad,109,76561198084006094,http://steamcommunity.com/id/Nikiad
164297,130,Half-Life: Blue Shift,0,0,Nikiad,109,76561198084006094,http://steamcommunity.com/id/Nikiad
164298,220,Half-Life 2,198,0,Nikiad,109,76561198084006094,http://steamcommunity.com/id/Nikiad
...,...,...,...,...,...,...,...,...
4898223,213670,South Park™: The Stick of Truth™,725,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...
4898224,221910,The Stanley Parable,53,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...
4898225,261030,The Walking Dead: Season Two,253,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...
4898226,273110,Counter-Strike Nexon: Zombies,0,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...
4898227,730,Counter-Strike: Global Offensive,0,0,76561198080057659,39,76561198080057659,http://steamcommunity.com/profiles/76561198080...

In [40]:
# Eliminando datos duplicados
df_users_items.drop_duplicates(inplace=True)
df_users_items

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [41]:
# Eliminamos columnas que no se van a utilizar
df_users_items.drop(['playtime_2weeks', 'items_count','steam_id','user_url'], axis=1, inplace=True)
df_users_items

,item_id,item_name,playtime_forever,user_id
0,10,Counter-Strike,6,76561197970982479
1,20,Team Fortress Classic,0,76561197970982479
2,30,Day of Defeat,7,76561197970982479
3,40,Deathmatch Classic,0,76561197970982479
4,50,Half-Life: Opposing Force,0,76561197970982479
...,...,...,...,...
5153204,346330,BrainBread 2,0,76561198329548331
5153205,373330,All Is Dust,0,76561198329548331
5153206,388490,One Way To Die: Steam Edition,3,76561198329548331
5153207,521570,You Have 10 Seconds 2,4,76561198329548331
5153208,519140,Minds Eyes,3,76561198329548331

In [42]:
# Revisando si hay valores menores o iguales a 0 en la columna "playtime_forever"
df_users_items[df_users_items['playtime_forever'] <= 0]

,item_id,item_name,playtime_forever,user_id
1,20,Team Fortress Classic,0,76561197970982479
3,40,Deathmatch Classic,0,76561197970982479
4,50,Half-Life: Opposing Force,0,76561197970982479
5,60,Ricochet,0,76561197970982479
6,70,Half-Life,0,76561197970982479
...,...,...,...,...
5153199,519170,The Journey Home,0,76561198326700687
5153200,358390,Stargunner,0,76561198326700687
5153201,521570,You Have 10 Seconds 2,0,76561198326700687
5153204,346330,BrainBread 2,0,76561198329548331
5153205,373330,All Is Dust,0,76561198329548331

Dado que en etapas posteriores utilizaremos la columna 'playtime_forever' para analizar el tiempo de juego, eliminaremos los registros con valores de 0, ya que no son relevantes para el análisis

In [43]:
df_users_items = df_users_items[df_users_items['playtime_forever'] > 0]
df_users_items

,item_id,item_name,playtime_forever,user_id
0,10,Counter-Strike,6,76561197970982479
2,30,Day of Defeat,7,76561197970982479
8,300,Day of Defeat: Source,4733,76561197970982479
9,240,Counter-Strike: Source,1853,76561197970982479
10,3830,Psychonauts,333,76561197970982479
...,...,...,...,...
5153202,304930,Unturned,677,76561198329548331
5153203,227940,Heroes & Generals,43,76561198329548331
5153206,388490,One Way To Die: Steam Edition,3,76561198329548331
5153207,521570,You Have 10 Seconds 2,4,76561198329548331
5153208,519140,Minds Eyes,3,76561198329548331

In [44]:
df_users_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3246375 entries, 0 to 5153208
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           object
 1   item_name         object
 2   playtime_forever  int64
 3   user_id           object
dtypes: int64(1), object(3)
memory usage: 123.8+ MB

In [46]:
# Cambiar tipo de dato de la columna 'item_id' a int
df_users_items['item_id'] = df_users_items['item_id'].astype(int)

df_users_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3246375 entries, 0 to 5153208
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int32
 1   item_name         object
 2   playtime_forever  int64
 3   user_id           object
dtypes: int32(1), int64(1), object(2)
memory usage: 111.5+ MB

Para transformar la columna 'playtime_forever' en una nueva columna que represente el tiempo de juego en horas, redondeado a dos decimales, se realizará el siguiente proceso en el DataFrame df_users_items: la nueva columna 'playtime_forever_hours' se creará dividiendo los valores de 'playtime_forever' por 60 (para convertir de minutos a horas) y redondeando el resultado a dos decimales.

In [47]:
df_users_items['playtime_forever_hours'] = round(df_users_items['playtime_forever'] / 60, 2)

In [48]:
# Elimando la columna "playtime_forever"
df_users_items.drop(['playtime_forever'], axis=1, inplace=True)

In [49]:
df_users_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3246375 entries, 0 to 5153208
Data columns (total 4 columns):
 #   Column                  Dtype
---  ------                  -----
 0   item_id                 int32
 1   item_name               object
 2   user_id                 object
 3   playtime_forever_hours  float64
dtypes: float64(1), int32(1), object(2)
memory usage: 111.5+ MB

In [50]:
df_users_items

,item_id,item_name,user_id,playtime_forever_hours
0,10,Counter-Strike,76561197970982479,0.10
2,30,Day of Defeat,76561197970982479,0.12
8,300,Day of Defeat: Source,76561197970982479,78.88
9,240,Counter-Strike: Source,76561197970982479,30.88
10,3830,Psychonauts,76561197970982479,5.55
...,...,...,...,...
5153202,304930,Unturned,76561198329548331,11.28
5153203,227940,Heroes & Generals,76561198329548331,0.72
5153206,388490,One Way To Die: Steam Edition,76561198329548331,0.05
5153207,521570,You Have 10 Seconds 2,76561198329548331,0.07
5153208,519140,Minds Eyes,76561198329548331,0.05

In [52]:
# Guardar el dataframe en un archivo csv en la carpeta Clean
df_users_items.to_csv('../Datasets/Clean/users_items.csv.gz', compression='gzip', index=False, encoding='utf-8')

In [53]:
# Guardar el dataframe en un archivo parquet en la carpeta Datasets
df_users_items.to_parquet('../Datasets/users_items.parquet.gz', compression='gzip', index=False)